<app-customer-navbar></app-customer-navbar>
<div class="container-fluid p-5">
    <!-- <div class="row"> -->
    <div class="row pt-4 align-items-center gy-4" style="margin-left:20px">
        <div class="col-lg-3 col-md-6 col-sm-12 mx-sm-auto"  *ngFor = "let product of productlist">

            <div class="col-lg-6 col-sm-12 mx-auto text-center">
            <img src="http://127.0.0.1:8000/{{product.product_image}}" style="width:600px;height:300px" class="img-fluid">
             </div> 

            <div class="col-lg-6 col-sm-12 mx-auto" >
                <form >

                    <div class="card " style="width:16rem; height:300px">
                        <div class="card-body">
                            <h6 class="card-title">Product Name:{{product.product_name}}</h6>
                            <p>Code:{{product.product_no}}</p>
                            <p>Description:{{product.product_des}}</p>
                            <p class="card-text">Price:RS {{product.price}}</p>
                            <p>Stock:{{product.stock}}</p>
                        
                           <a routerLink="/my-cart"> <button id="add_cart">Add Cart</button>
                           </a>


                        </div>
                    </div>
                </form>


            </div>




        </div>
    </div>
</div>