<div class="row">
    
    <div class="col-10">
        <div class="container-fluid">
            <div class="row" style="padding-left:10%;background-color:light">
                <h2 class="text-center" style="color:purple">Your recent orders!!!</h2>
                <div class="table-responsive pt-3">
                    <table class="table table-success table-bordered">
                        <thead>
                            <tr>
                                <th scope="col">SI No</th>
                                <th scope="col">ProductImage</th>
                                <th scope="col">ProductName</th>
                                <th scope="col">Quantity</th>
                                <th scope="col">TotalPrice</th>



                            </tr>
                        </thead>
                        <tbody>

                        </tbody>

                    </table>
                </div>
            </div>

        </div>
    </div>
</div>