<div class="container-fluid">
    <div class="row bg-info">
        <div class="col-12">
            <nav class="navbar" >
                <div class="container-fluid">
                    <a href="/admin/home" style="color:green;margin:10px;text-decoration:none;">Home</a>
                    
                    <h4 class="mx-auto"> LADIES SHOPPIE!!</h4>
                    <a href="" style="color:green;margin:10px;text-decoration:none;">Logout</a>
                </div>
               


            </nav>
        </div>
    </div>
