
<!-- <div class="row">
    <div class="col-2">
        <div class="sidebar" style="padding:10px;">
            <a routerLink="/seller/">Home</a>
            <a routerLink="/seller/home/product-catalog">Product-Catalogue</a>
            <a routerLink="/seller/home/add-product">Add Product</a>
            <a routerLink="/seller/home/order-history">Order History</a>
            <a href="/seller/home/recent-order">Recent Order</a>
            <a href="/seller/home/change-password">Change Password</a>
            <a href="/seller/home/update-stock">Update Stock</a>


        </div>
    </div> -->
    <div class="col-md-9">
        <div class="container" style="margin-left:20%">

            <h2 class="text-center pt-3" style="color:deepskyblue">Welcome {{seller_name | uppercase}}!!!</h2>
            <div class="col-md-6 col-lg-5 d-none d-md-block">
                <img src="" alt="login form" class="img-fluid" style="border-radius: rem 0 0 1rem; width:650px;" />
            </div>


        </div>
    </div>
