<div class="container-fluid">
    <div class="row" style ="margin-left:150px">
        <div class="col-md-3">
            <a routerLink ="/admin/approve-seller">
                <div class="card ml-5 mt-5 " style="width:150px; height:200px">
                    <div class="card-body">
                        <h6 class="card-title text-center">Approve Seller</h6>
                        <img src="..//..//../../../assets/approve.jpg" style="width:150px" class="img-fluid" >
                        <p class="card-text"></p>
                        <br>
                
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-3">
            <a routerLink="/admin/view-seller">

            <div class="card ml-5 mt-5 " style="width:150px; height:200px">
                <div class="card-body">
                    <h6 class="card-title text-center">View Seller</h6>
                    <img src="..//..//../..//../assets/view.jpg" style="width:150px" class="img-fluid" >

                    <p class="card-text"></p>
                    <br>
                
                </div>
            </div>
        </a>
        </div>
        <div class="col-md-3">
            <a routerLink ="/admin/view-customer">

            <div class="card ml-5 mt-5 " style="width:150px;height:200px">
                <div class="card-body">
                    <h6 class="card-title text-center">View Customer</h6>
                    <img src="..//..//../..//../assets/customer.png" style="width:150px" class="img-fluid" >

                    <p class="card-text"></p>
                    <br>
                
                </div>
            </div>
        </a>
        </div>
    </div>
</div>


    
