<app-customer-navbar></app-customer-navbar>
<h1 class="text-center">Select a payment method</h1>
<div class="container">
    <div class="main-body">
        <div class="row">
            <div class="col-lg-2">
                <!-- edit  -->
            </div>
            <div class="col-md-8">
                <div class="card mb-3">
                    <div class="card-body">

                        <div class="row">
                            <div class="col-sm-1" style="padding-left: 30px;">
                                <input type="radio" name="payment" value="cod">
                            </div>
                            <div class="col-sm-11 text-secondary">
                                Cash on delivery
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-1" style="padding-left: 30px;padding-top: 25px;">
                                <input type="radio" name="payment" value="razorpay">
                            </div>
                            <div class="col-sm-4 text-secondary">
                                <img src="..//..//../../assets/razorpay.png" alt="" height="100px" width="300px">
                            </div>

                            <div class="col-sm-7 text-secondary" style="padding-top: 40px;">
                                <b>Razorpay</b>
                            </div>
                        </div>
                        <hr>

                        <div class="row">
                            <div class="col-sm-11" style="justify-content: center;justify-items: center;display: flex;">


                                <input type="hidden" value="" id="hname">
                                <input type="hidden" value="" id="hamount">
                                <button class="btn btn-warning me-4" id="rzp-button1">continue</button>
                            

                            </div>
                            <div class="col-sm-1">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>