
  <div class="container-fluid">
     <div class="row">
      <!-- <div class="col-2 my-auto text-center">
        
          <button class="btn btn-info" id="customer" (click) ="goToCustomerLogin()">Customer</button>
      
      
       </div> -->
       <div class="col-md-3"></div>
       <div class="col-6 pt-2">
        <img src="assets/best.jpg"  class="img-fluid border-rounded" id="master">
      </div> 
       <!-- <div class="col-2 my-auto text-center">
      
          <button class="btn btn-info" id="seller" (click)="goToSellerLogin()">Seller</button>
        </div> -->
    </div>
    <div class="col-md-3"></div>

    <!-- <div class="container-fluid" style="margin-left:20%"> -->
      <div class="row">
     
  
        <div class="col-md-3">
           <!-- <a href=""> -->
            <div class="card ml-5 mt-5 " style="width:16rem; height:350px">
              <div class="card-body text-center">
                <img src="../../../assets/cart1.webp" id="imgproducts" style="width:100px;height:200px" class="img-fluid" id="imgproducts" >
                  <h4 style=" color:black" class="card-title text-center">A-line Kurta</h4>
  
                      <p class="card-text" >Rs.780</p>
                          <span> seller name:Blosom</span>
    
              </div>
            </div>
           <!-- </a> -->
        
        </div> 
        <div class="col-md-3">
          <!-- <a href=""> -->
           <div class="card ml-5 mt-5 " style="width:16rem; height:350px">
             <div class="card-body text-center">
               <img src="../../../assets/cat3.webp" id="imgproducts" style="width:100px;height:200px" class="img-fluid" >
                 <h4 style=" color:black" class="card-title text-center">Round-neck Kurta</h4>
 
                     <p class="card-text" >Rs.980</p>
                         <span> seller name:orelia</span>
   
             </div>
           </div>
          <!-- </a> -->
       
       </div> 
       <div class="col-md-3">
        <!-- <a href=""> -->
         <div class="card ml-5 mt-5 " style="width:16rem; height:350px">
           <div class="card-body text-center">
             <img src="../../../assets/cat5.webp" id="imgproducts" style="width:100px;height:200px" class="img-fluid" >
               <h4 style=" color:black" class="card-title text-center">V-neck Kurta</h4>

                   <p class="card-text" >Rs.700</p>
                       <span> seller name:orelia</span>
 
           </div>
         </div>
        <!-- </a> -->
     
     </div> 
     <div class="col-md-3">
      <!-- <a href=""> -->
       <div class="card ml-5 mt-5 " style="width:16rem; height:350px">
         <div class="card-body text-center">
           <img src="../../../assets/cat2.webp"  id="imgproducts" style="width:100px;height:200px" class="img-fluid" >
             <h4 style=" color:black" class="card-title text-center">A-line  Kurta</h4>

                 <p class="card-text" >Rs.900</p>
                     <span> seller name:Angel</span>

         </div>
       </div>
      <!-- </a> -->
   
   </div> 
 
  
    
     
      
    
    </div>
  </div> 
  <div class="container my-5">
    <!-- Footer -->
    <footer class="text-center text-white bg-info" >
      <!-- Grid container -->
      <div class="container">
        <!-- Section: Links -->
        <section class="mt-5">
          <!-- Grid row-->
          <div class="row text-center d-flex justify-content-center pt-5">
            <!-- Grid column -->
            <div class="col-md-2">
              <h6 class="text-uppercase font-weight-bold">
                <a href="#!" class="text-white">About us</a>
              </h6>
            </div>
            <!-- Grid column -->
  
            <!-- Grid column -->
            <div class="col-md-2">
              <h6 class="text-uppercase font-weight-bold">
                <a href="#!" class="text-white">Products</a>
              </h6>
            </div>
            <!-- Grid column -->
  
            <!-- Grid column -->
            <div class="col-md-2">
              <h6 class="text-uppercase font-weight-bold">
                <a href="#!" class="text-white">Awards</a>
              </h6>
            </div>
            <!-- Grid column -->
  
            <!-- Grid column -->
            <div class="col-md-2">
              <h6 class="text-uppercase font-weight-bold">
                <a href="#!" class="text-white">Help</a>
              </h6>
            </div>
            <!-- Grid column -->
  
            <!-- Grid column -->
            <div class="col-md-2">
              <h6 class="text-uppercase font-weight-bold">
                <a href="#!" class="text-white">Contact</a>
              </h6>
            </div>
            <!-- Grid column -->
          </div>
          <!-- Grid row-->
        </section>
        <!-- Section: Links -->
  
        <!-- <hr class="my-5" />
  
         Section: Text -->
        <!-- <section class="mb-5">
          <div class="row d-flex justify-content-center">
            <div class="col-lg-8">
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt
                distinctio earum repellat quaerat voluptatibus placeat nam,
                commodi optio pariatur est quia magnam eum harum corrupti
                dicta, aliquam sequi voluptate quas.
              </p>
            </div>
          </div> 
        </section> -->
        <!-- Section: Text -->
  
        <!-- Section: Social -->
        <section class="text-center mb-5">
          <a href="" class="text-white me-4">
            <i class="fab fa-facebook-f"></i>
          </a>
          <a href="" class="text-white me-4">
            <i class="fab fa-twitter"></i>
          </a>
          <a href="" class="text-white me-4">
            <i class="fab fa-google"></i>
          </a>
          <a href="" class="text-white me-4">
            <i class="fab fa-instagram"></i>
          </a>
          <a href="" class="text-white me-4">
            <i class="fab fa-linkedin"></i>
          </a>
          <a href="" class="text-white me-4">
            <i class="fab fa-github"></i>
          </a>
        </section>
        <!-- Section: Social -->
      </div>
      <!-- Grid container -->
  
      <!-- Copyright -->
      <div
           class="text-center p-3"
           style="background-color: rgba(0, 0, 0, 0.2)"
           >
        © 2020 Copyright:
        <a class="text-white" href="https://mdbootstrap.com/"
           >MDBootstrap.com</a
          >
      </div>
      <!-- Copyright -->
    </footer>
    <!-- Footer -->
  </div>
  <!-- End of .container -->