<!-- <div class="row">
    <div class="col-2">

<app-seller-navbar></app-seller-navbar>
    </div> -->
<div class="container-fluid" style="margin-left:15%">
    <div class="row">
      

        <div class="col-md-3" *ngFor = "let product of ProductLists">
            <a href="#">
                <div class="card ml-5 mt-5 " style="width:16rem; height:400px">
                    <div class="card-body" >
                        <img src="http://127.0.0.1:8000/{{product.product_image}}" style="width:100px" class="img-fluid">
                        <h6 class="card-title text-center">{{product.product_name}}</h6>

                        <p class="card-text">{{product.price}}</p>
                        {{product.product_des}}
                    
                    


                    </div>
                </div>
            </a>
        </div>


    </div>
</div>
