<!-- <div class="container-fluid">
    <div class="row">
        <div class="col-auto col-md-4 col-xl-2 px-sm-2 px-0" style="background-color: #9A616D">
            <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white max-vh-100">
                <a href="/" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
                    <span class="fs-5 d-none d-sm-inline">Menu</span>
                </a>
                <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
                    <li class="nav-item">
                        <a href="" class="nav-link align-middle px-0">
                            <i class="fs-4 bi-house"></i> <span class="ms-1 d-none d-sm-inline">Home</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="" class="nav-link align-middle px-0">
                            <i class="fs-4 bi-house"></i> <span class="ms-1 d-none d-sm-inline">Product
                                Catalogue</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="" class="nav-link align-middle px-0">
                            <i class="fs-4 bi-house"></i> <span class="ms-1 d-none d-sm-inline">Add Product</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="" class="nav-link align-middle px-0">
                            <i class="fs-4 bi-house"></i> <span class="ms-1 d-none d-sm-inline">Update Stock</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="" class="nav-link align-middle px-0">
                            <i class="fs-4 bi-house"></i> <span class="ms-1 d-none d-sm-inline">Change Password</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="" class="nav-link align-middle px-0">
                            <i class="fs-4 bi-house"></i> <span class="ms-1 d-none d-sm-inline">Recent Orders</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="" class="nav-link align-middle px-0">
                            <i class="fs-4 bi-house"></i> <span class="ms-1 d-none d-sm-inline">Order History</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="" class="nav-link align-middle px-0">
                            <i class="fs-4 bi-house"></i> <span class="ms-1 d-none d-sm-inline">Profile</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="" class="nav-link align-middle px-0">
                            <i class="fs-4 bi-house"></i> <span class="ms-1 d-none d-sm-inline">Logout</span>
                        </a>
                    </li>
                </ul>

            </div>
        </div>
    </div>
</div> -->

<div class="row">
    <div class="col-2">
        <div class="sidebar" style="padding:10px;">
            <a routerLink="/seller/home">Home</a>
            <a routerLink="/seller/product-catalog">Product-Catalogue</a>
            <a routerLink="/seller/add-product">Add Product</a>
            <a routerLink="/seller/order-history">Order History</a>
            <a href="/seller/recent-order">Recent Order</a>
            <a href="/seller/change-password">Change Password</a>
            <a href ="/seller/update-stock">Update Stock</a>
            

        </div>
    </div>
</div>