<div class="container-fluid">
    <div class="row bg-info">
        <div class="col-12">
            <nav class="navbar" >
                <div class="container-fluid">
                    <h4 class="mx-auto"> LADIES SHOPPIE!!</h4>

                </div>


            </nav>
        </div>
    </div>
    <!-- <div class="row">
        <div class="col-2">
            <div class="sidebar" style="padding:10px;">
                <a routerLink="/seller/">Home</a>
                <a routerLink="/seller/home/product-catalog">Product-Catalogue</a>
                <a routerLink="/seller/home/add-product">Add Product</a>
                <a routerLink="/seller/home/order-history">Order History</a>
                <a href="/seller/home/recent-order">Recent Order</a>
                <a href="/seller/home/change-password">Change Password</a>
                <a href="/seller/home/update-stock">Update Stock</a>
    
    
            </div>
        </div>
    </div> -->
</div>
    