<div class="row">
    <div class="col-2">
        <div class="sidebar" style="padding:10px;">
            <a routerLink="/seller/">Home</a>
            <a routerLink="/seller/home/product-catalog">Product-Catalogue</a>
            <a routerLink="/seller/home/add-product">Add Product</a>
            <a routerLink="/seller/home/order-history">Order History</a>
            <a routerLink="/seller/home/recent-order">Recent Order</a>
            <a routerLink="/seller/home/change-password">Change Password</a>
            <a routerLink="/seller/home/update-stock">Update Stock</a>
            <a routerLink="" (click)="logout()">Logout</a>



        </div>
    </div>
</div>
